@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-color: #3f3f54;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
  color: #1495d6;
  font-weight: bold;
}
